* {
  box-sizing: border-box;  
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 100dvi;
  margin: 0 auto;
  padding: 0;
}

main {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  inline-size: 100dvi;
  font-family: Fira code, sans-serif;
  font-size: 30px;
  background-image: linear-gradient(45deg, #faa, yellow);
  border: 1px solid black;
}

.greeting h3 {
  color: green;
}

.greeting h3:hover {
  color: lightskyblue;
  pointer-events: stroke;
  cursor: grab;
}